<h3>Reactivos</h3>

<form [formGroup]="formulario" (ngSubmit)="guardar()">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username">

    <app-error *ngIf="pintarErrores('username')" [errores]="erroresUsername"></app-error>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">

    <app-error *ngIf="pintarErrores('password')" [errores]="erroresPw"></app-error>
  </div>
  <div>
    <label for="confirmarPassword">Confirmar password</label>
    <input type="password" id="confirmarPassword" formControlName="confirmarPassword">

    <app-error *ngIf="pintarErrores('confirmarPassword')" [errores]="erroresConfirmPw"></app-error>
  </div>
  <button type="submit" [disabled]="formulario.invalid">Guardar</button>
  <button type="submit">Guardar</button>
</form>